.menu-container {
	padding: 2rem;
}
.container {
	margin: 0 auto;
	max-width: 1200px;
	min-width: 992px;
	width: 100%;
	min-height: 80vh;
	height: 80vh;
	box-shadow: 0px 0px 2.2px rgba(0, 0, 0, 0.079),
		0px 0px 5.3px rgba(0, 0, 0, 0.078), 0px 0px 10px rgba(0, 0, 0, 0.064),
		0px 0px 17.9px rgba(0, 0, 0, 0.047), 0px 0px 33.4px rgba(0, 0, 0, 0.038),
		0px 0px 80px rgba(0, 0, 0, 0.12);
	margin-top: -10px !important;
	padding: 0.25rem;
}
header {
	display: flex;
	flex-direction: row;
	width: 100%;
	padding-top: 0.6875rem;

	.menu {
		width: 25.34%;
		display: inline-block;
		padding-top: 0.425rem;
		padding-left: 1.2rem;
		cursor: pointer;
		font-size: 1.5rem;
		i {
			&:hover {
				font-size: 1.52rem;
			}
		}
	}
	.searchbar {
		width: 49.34%;
		background-color: var(--text-light-4);
		height: max-content;
		padding: 0.6rem;
		border-radius: 0.5rem;
		font-size: 0.6875rem;
		color: var(--text-dark-3);
		display: inline-block;
		position: relative;
		i {
			display: inline-block;
			position: absolute;
			top: 0.6rem;
			font-size: 1.2rem;
		}
		input {
			all: unset;
			display: inline-block;
			padding-left: 2rem;
			color: var(--text-dark-3);
			font-weight: 500;
		}
	}

	.user {
		width: 25.34%;
		display: flex;
		justify-content: flex-end;
		padding-top: 0.625rem;
		padding-right: 1.3rem;
		position: relative;
		div {
			padding-right: 2.5rem;
			display: inline-block;
			i {
				padding-right: 0.3rem;
			}
		}
		span {
			width: max-content;
			height: max-content;
			display: inline-block;
			padding: 0.5rem;
			border-radius: 50%;
			background-color: var(--text-light-4);
			top: 0;
			position: absolute;
		}
	}
}
